/* General container styling */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3; /* light grey background */
    padding-top: 100px; /* space for the fixed header */
}

/* Styling for the fixed header */
.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a73c4; /* blue background */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for the card */
.card {
    background-color: #e8effc; /* light blue background */
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card .booking-btn a {
    all: unset !important;
}

/* Header styling */
.card h1 {
    font-size: 1.5em;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    color: white;
    background-color: #3a73c4; /* blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.button:hover {
    background-color: #2a5c99;
}
